@font-face{
    font-family: 'GentiumBookBasic';
        src: url(fonts/Gentium_Book_Basic/GentiumBookBasic-Regular.ttf) format('truetype');
        font-weight: normal;
        font-style: normal;
}
    @font-face{
        font-family: 'GentiumBookBasicBold';
        src: url(fonts/Gentium_Book_Basic/GentiumBookBasic-Bold.ttf) format('truetype');
        font-weight: normal;
        font-style: normal;
    }
    @font-face{
        font-family: 'YesevaOne';
        src: url(fonts/Yeseva_One/YesevaOne-Regular.ttf) format('truetype');
        font-weight: normal;
        font-style: normal;
    }
    @font-face{
        font-family: 'Lato';
        src: url(fonts/Lato/Lato-Regular.ttf) format('truetype');
        font-weight: normal;
        font-style: normal;
    }
    @font-face{
        font-family: 'Georgia';
        src: url(fonts/georgia/Georgia\ Regular\ font.ttf) format('truetype');
        font-weight: normal;
        font-style: normal;
    }
    @font-face{
        font-family: 'OpenSans';
        src: url(fonts/Open_Sans/OpenSans-Regular.ttf) format('truetype');
        font-weight: normal;
        font-style: normal;
    }
    @font-face{
        font-family: 'OpenSansBold';
        src: url(fonts/Open_Sans/OpenSans-Bold.ttf) format('truetype');
        font-weight: normal;
        font-style: normal;
    }
    @font-face{
        font-family: 'OpenSansItalic';
        src: url(fonts/Open_Sans/OpenSans-Italic.ttf) format('truetype');
        font-weight: normal;
        font-style: normal;
    }
    *{
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
    }
    .wrapper1{
        background-image: url(images/bg.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        width: 100%;
        height: 100%;
        min-height: 750px;
        min-width: 1170px;
        padding-left: 40px;
        padding-right: 40px;
    }
    nav{
        height: 25vh;
        width: 100vw;
        position: relative;
        display: flex;
        justify-content: space-around;
        margin: 0 auto;
    }
    h2{
        font-family: 'YesevaOne';
        font-weight: normal;
        font-style: normal;
        font-size: 30px;
        color: white;
        text-transform: uppercase;
    }
    .gradient-text{
        /* background-image: linear-gradient(45deg, #f3ec78, #af4261);
        background-size: 100%;
        background-repeat: repeat;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        mix-blend-mode: overlay;
        background-color: white; */
        color: rgba(255, 255, 255,0.6);
    }
    .logo{
        display: block;
        height: 100%;
        position: absolute;
        left: 3em;
        top: 2.5em;
    }
    header{
        width: 100%;
        /* height: 110px; */
        /* background-color: transparent; */
        position: absolute;
        /* top: 0px; */
        /* z-index: 500; */
    }
    .nav-links {
        display: flex;
        position: absolute;
        top: 3em;
        /* text-align: center; */
    }
    .nav-links li{
        list-style: none;
        position: relative;
    }
    .nav-links a{
        text-decoration: none;
        font-family: 'GentiumBookBasicBold';
        font-size: 1.2em;
        color: rgb(255, 255, 255);
        transition: all 0.5s ease-in-out;
        padding: 0.5rem 1rem;
        margin: 1rem 0.9rem;
    }
    .nav-links a::after{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: 0%;
        content: '.';
        color: transparent;
        height: 2em;
        transition: all .5s;
      }
      .nav-links a:hover:after{
        width: 100%;
        border: 1.5px solid white;
      }
    .nav-links i{
        padding-left: 15px;
    }
.social{
    color: #dab33e;
    display: grid;
    justify-content: center;
    position: absolute;
    top: 2.5em;
    right: 3em;
    grid-template-columns: repeat(3, 2.3rem);
    grid-column-gap: 0.5rem;
    justify-content: center;
}

/* .social a{
    color: #dab33e;
    font-size: 21px;
    list-style: none;
    padding-left: 16px;
} */
.header-social-icon{
    display: block;
    text-decoration: none;
    color: var(--black);
    border: 1px solid #dab33e;
    border-radius: 50%;
    padding: 0.5rem;
    transition: all 0.5s linear;
    text-align: center;
}
.header-social-icon:hover{
    background: rgba(255, 255, 255, 0.5);
}

.home-content{
    margin: 0 auto;
    padding-top: 255px;
}
.home-content-row{
    text-align: center;
    margin: 0 auto;
    width: 970px;
    height: 350px;
    position: relative;
}
.home-content-row h1{
    position: relative;
    font-family: 'YesevaOne';
    font-size: 90px;
    color: white;
    font-weight: 400;
}
.home-content-row h1::after{
    content: "";
    position: absolute;
    background-image: url(images/decoration_small.png);
    display: block;
    width: 246px;
    height: 50px;
    right: calc(50% - 123px);
    bottom: -55px;
}
.btn-dark{
    display: block;
    position: absolute;
    bottom: 0;
    color: white;
    right: calc(50% + 15px);
    text-decoration: none;
    font-size: 18px;
    font-family: 'Lato';
    border: 1.5px solid #121211;
    padding: 22px 50px;
    text-align: center;
    transition: all 0.5s ease-in-out;
}
.btn-dark:hover{
    background-color: rgba(0, 0, 0, 0.702);
}
.btn-light{
    display: block;
    position: absolute;
    bottom: 0;
    color: white;
    right: calc(50% - 242px);
    text-decoration: none;
    font-size: 18px;
    font-family: 'Lato';
    border: 1.5px solid white;
    padding: 22px 50px;
    text-align: center;
    transition: all 0.5s ease-in-out;
}
.btn-light:hover{
    background-color: rgba(255, 255, 255, 0.278);
}
@media screen and (max-width:1160px){
    .nav-links a {
        margin: 0;
    }
}

@media screen and (max-width:956px){
    .nav-links {
        display: none;
    }
}
.just-the-right-food{
    background-image: url(images/pattern.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: white;
    padding-top: 100px;
    padding-bottom: 346px;
    min-width: 1170px;
    
}
.wrapper-right-food{
    padding-left: 110px;
    padding-right: 798px;
    position: relative;
    margin: 0 auto;
}
.title{
    font-family: 'YesevaOne';
    font-size: 36px;
    font-weight: 400;
    text-transform: none;
    text-align: center;
}
.right-food{
    display: block;
    color: #dab33e;
    position: relative;
    padding-bottom: 69px;
    width: 100%;
}
.right-food::after{
    content: "";
    position: absolute;
    background-image: url(images/decoration_yellow.png);
    display: block;
    width: 262px;
    height: 50px;
    /* right: 81px; */
    right: calc(50% - 131px);
}    
p.desc-height{
    line-height: 45px;
    font-family: 'GentiumBookBasicBold';
    font-size: 25px;
    max-width: 630px;
}
.description{
    font-family: 'Lato';
    font-size: 16px;
    text-align: center;
    line-height: 25px;
    max-width: 430px;
    margin: 0 auto;
}
.p-right-food{
    color: black;
    padding-top: 32px;
}
.p-with-signature::after{
    content: "";
    position: absolute;
    background-image: url(images/cook.png);
    display: block;
    right: calc(50% + 188px);
    width: 290px;
    height: 280px;
}
.dish{
    position: absolute;
    right: 40px;
    top: -55px;
}
.block-fine-ingridients{
    background-image: url(images/bg2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: white;
    padding-top: 100px;
    padding-bottom: 100px;
    min-width: 1170px;
}
.wrapper-fine-ingridients{
    margin-left: 740px;
    margin-right: 40px;
    position: relative;
    width: 570px;
    height: 557px;
    border: 1px solid #121211;
    background-color: rgba(0, 0, 0, 0.702);
    text-align: center;
    justify-content: center;
}
.title-white{
    color: white;
    padding-top: 90px;
}
.title-white::after{
    content: "";
    position: absolute;
    background-image: url(images/divider.png);
    display: block;
    width: 250px;
    height: 24px;
    right: calc(50% - 125px);
    margin-top: 24px;
}
.description-white{
    color: white;
    padding-top: 83px;
}
.box-fine-ingridients{
    padding-top: 70px;

}
.product{
    border-radius: 50%;
    /* border: 8px inset rgba(0, 0, 0, 0.702); */
    /* padding: 0px; */
    background-color: rgba(0, 0, 0, 0.502);
}
.product:first-child, .product:nth-child(2){
    margin-right: 22px;
}
.block-menu{
    background-image: url(images/pattern2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 0 110px;
    min-height: 994px;
}
.wrapper-menu{
    padding-top: 100px;
    display: grid;
    grid-template-areas:
        "a b c"
        "d e f";
    grid-template-columns: 430px 196px 430px;
    grid-row-gap: 18px;
    justify-content: center;
    position: relative;
    grid-template-rows: auto auto;
    grid-auto-rows: auto;
}
.appetisers{
    grid-area: a;
    position: relative;
}
.salads{
    padding-top: 14px;
    grid-area: d;
    display: block;
    position: relative;
}
.starters{
    grid-area: c;
    height: 60%;
    align-self: baseline;
    /* position: relative; */
}
.main-dishes{
    grid-area: f;
    position: relative;
    top: -75px;
}
.menu-title{
    /* padding-top: 69px; */
    color: #dab33e;
    font-size: 21px;
    position: relative;
    font-weight: 400;
    border-bottom: 1px solid;
    padding-bottom: 13px;
    font-family: 'YesevaOne';
}
/* .menu-title::before{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    display: block;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-bottom: 7px solid #ee252d;
} */


.app::after{
    width: 262px;
    height: 50px;
    right: calc(50% - 131px);
}
.sal::after{
    width: 262px;
    height: 50px;
    right: 92px;
}
.str::after{
    width: 262px;
    height: 50px;
    right: 88px;
}
.mndsh::after{
    width: 262px;
    height: 50px;
    right: 88px;
}
.value{
    /* font-family: 'Lato'; */
    font-size: 21px;
    position: absolute;
    top: -34px;
    right: 2px;
    color: #dab33e;
    font-family: 'YesevaOne';
    font-style: normal;
}
.menu-description{
    font-family: 'Lato';
    font-size: 16px;
    padding-top: 13px;
    padding-bottom: 35px;
}
.price{
    position: relative;
}
.special{
    position: absolute;
    width: 454px;
    height: 100px;
    top: 242px;
    left: -12px;
    border: 1px solid #dab33e;
    padding: 12px;
    display: block;
    animation-name: pulse;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes pulse{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
}
.special::after{
    content: "Special";
    position: absolute;
    top: -22px;
    right: 8px;
    color: white;
    font-family: 'Lato';
    font-size: 16px;
}
.special::before{
    content: "";
    position: absolute;
    width: 69px;
    height: 22px;
    top: -22px;
    right: -1px;
    background-color: #dab33e;
}
.special-2{
    position: absolute;
    width: 454px;
    height: 100px;
    top: 214px;
    left: -12px;
    border: 1px solid #dab33e;
    padding: 12px;
    display: block;
    animation-name: pulse;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
.special-2::after{
    content: "Special";
    position: absolute;
    top: -22px;
    right: 8px;
    color: white;
    font-family: 'Lato';
    font-size: 16px;
}
.special-2::before{
    content: "";
    position: absolute;
    width: 69px;
    height: 22px;
    top: -22px;
    right: -1px;
    background-color: #dab33e;
}
.gusto-salad{
    margin-top: 136px;
}
.pastitsio{
    padding-top: 0px;
}
.fried-chicken{
    padding-top: 119px;
}
.block-reviews{
    background-image: url(images/bg3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: white;
    padding-top: 100px;
    padding-bottom: 100px;
    /* min-width: 1170px; */
}
.wrapper-reviews{
    margin-left: 240px;
    margin-right: 240px;
    position: relative;
    width: 770px;
    height: 557px;
    border: 1px solid #121211;
    background-color: rgba(0, 0, 0, 0.702);
    text-align: center;
    justify-content: center;
    margin: 0 auto;
}
.reviews{
    padding-top: 83px;
}
.p-reviews{

}
.caption{
    padding-top: 50px;
    font-family: 'Lato';
    font-size: 18px;
}
.block-booking{
    background-image: url(images/pattern.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: white;
    padding-top: 100px;
    padding-bottom: 103px;
    min-width: 1170px;
}
.p-booking{
    color: black;
}
.wrapper-booking{
    display: flex;
    max-width: 1250px;
    margin: 0 auto;
}
.pictures{
    display: flex;
    max-width: 570px;
    max-height: 508px;
}
.booking-form{
    max-width: 430px;
    margin-left: 100px;
}
.input{
    display: flex;
    justify-content: center;
    padding-top: 50px;
    outline: none;
}
.input-left{
    padding-right: 30px;
}
.input-right{
    /* width: 100%; */
}
label{font-family: 'OpenSansBold';color: #dab33e;}
#bookBtn{
    display: block;
    margin: 0 auto;
    margin-top: 14px;
    width: 200px;
    height: 36px;
    background-color: #dab33e;
    color: white;
    font-family: 'Lato';
    font-size: 16px;
    transition: all 1s ease-in-out;
    cursor: pointer;
}
#bookBtn:hover{
    background-color: #B78F32;
}
input{
    margin-top: 8px;
    height: 36px;
    width: 200px;
    margin-bottom: 30px;
}
::placeholder{
    font-family: 'OpenSansItalic';
    font-size: 16px;
    padding-left: 10px;
}
footer{
    background-color: #191919;
    height: 320px;
    color: white;
    /* margin: 0 auto; */
    /* justify-items: center; */
}
.wrapper-footer{
    padding: 0 140px 50px 40px;
    display: flex;
    text-align: center;
    justify-content: center;
}
.about-us{
    position: relative;
    width: 370px;
    margin-right: 100px;
}
.about-us p, .opening-hours p, .our-location p{
    font-family: 'OpenSans';
    padding-top: 65px;
}
.opening-hours{
    position: relative;
    width: 230px;
    margin-right: 200px;
}
.cards{
    display: grid;
    grid-template-columns: repeat(4, 2rem);
    justify-content: center;
    grid-column-gap: 2rem;
    list-style: none;
    padding-top: 2rem;
}
.card-icon{
    text-decoration: none;
    font-size: 30px;
    color: white;
}
.our-location{
    position: relative;
    width: 170px;
}
.social-links{
    
}
.footer-title{
    padding-top: 60px;
    font-size: 21px;
    font-family: 'YesevaOne';
    font-weight: 400;
}
.image-hover{
    position: relative;
    overflow: hidden;
    text-align: center;
    cursor: pointer;
    /* max-width: 274px; */
    /* width: 532px; */
    margin-right: 30px;
    background: black;
}
.image-hover img{
    background: #3085a3;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(1.12);
	transform: scale(1.12);
}

.image-hover:hover img{
    opacity: 0.4;

	-webkit-transform: scale(1);
	transform: scale(1);
} 
figure.image-hover figcaption::before, figure.image-hover h3,
figure.image-hover p /*figure.image-hover a*/{
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}
figure.image-hover:hover figcaption::before, figure.image-hover:hover h3,
figure.image-hover:hover p, figure.image-hover:hover a{
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}
figcaption{
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.35s, transform 0.35s;
}
figcaption::before{
    position: absolute;
    top: 44px;
    right: 30px;
    bottom: 44px;
    left: 30px;
    border: 1px solid #fff;
    content: '';
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
figcaption h3{
    font-size: 24px;
    padding: 144% 0 24px 0;
    color: #dab33e;;
}
figcaption p{
    margin: 0 auto;
    max-width: 200px;
    margin-bottom: 1rem;
}
figcaption a{
    text-decoration: none;
    color:  #dab33e;
    font-size: 20px;
    /* padding-top: 0em; */
    font-weight: 700;
    /* margin-top: 10px; */
}







